/* Large tablets to small PCs or laptops */
@media only screen and (max-width: 1200px) {
    .row {
        padding: 0 2%;
    }

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .plan-box ul li {
        font-size: 96%;
    }
}


/* Small tablets to large tablets */
@media only screen and (max-width: 1023px) {

    /*---------------------------------*/
    /* GENERAL */
    /*---------------------------------*/

    html,
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    /*---------------------------------*/
    /* REUSABLE COMPONENTS */
    /*---------------------------------*/

    .icon-small {
        margin-right: 2px;
    }

    /*---------------------------------*/
    /* HEADER */
    /*---------------------------------*/

    .long-copy {
        padding: 0 3%;
    }

    /*---------------------------------*/
    /* FEATURES */
    /*---------------------------------*/

    .city-feature {
        font-size: 88%;
    }

    /*---------------------------------*/
    /* HOW IT WORKS */
    /*---------------------------------*/

    .app-screen {
        width: 50%;
    }

    .works-step {
        margin-bottom: 25px;
    }

    .app-btn {
        margin-top: 40px;
    }

    /*---------------------------------*/
    /* SIGN UP PLANS */
    /*---------------------------------*/

    .plan-box {
        width: 100%;
        margin: 0;
        font-size: 90%;
    }

    .plan-box ul li {
        font-size: 97%;
    }

    /*---------------------------------*/
    /* CONTACT FORM */
    /*---------------------------------*/

    .contact-form {
        width: 85%;
    }

}


/* Small phones to small tablets */
@media only screen and (max-width: 767px) {

    /*---------------------------------*/
    /* GENERAL */
    /*---------------------------------*/
    html,
    body {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }

    h2::after {
        width: 150px;
        margin: 20px auto;
    }

    h3 {
        font-size: 110%
    }

    section {
        padding: 50px 0;
    }

    /*---------------------------------*/
    /* REUSABLE COMPONENTS */
    /*---------------------------------*/

    .row {
        padding: 0 3%;
    }

    .col {
        width: 100%;
        margin: 1% 0%;
    }

    .icon-small {
        margin-right: 10px;
    }

    /*---------------------------------*/
    /* HEADER */
    /*---------------------------------*/

    .main-nav {
        display: none;
    }

    .long-copy {
        padding: 0 3%;
    }

    .hero-text-box {
        padding: 0 3%;
    }

    .btn,
    .btn:visited {
        margin: 5px;
        font-weight: 400;
    }

    /*---------------------------------*/
    /* FEATURES */
    /*---------------------------------*/

    .section-features {
        font-size: 120%;
    }

    .section-features .row div {
        margin-bottom: 30px;
        padding: 0 2%;
    }

    /*---------------------------------*/
    /* MEALS */
    /*---------------------------------*/

    .meal-photo img:hover {
        transform: scale(1.09);
    }

    /*---------------------------------*/
    /* HOW IT WORKS */
    /*---------------------------------*/

    .steps-col:first-child {
        margin-top: 0px;
        text-align: center;
    }

    .steps-col:last-child {
        margin-top: 25px;
    }

    .app-screen {
        width: 40%;
    }

    .app-btns {
        text-align: center;
    }

    .app-btn img {
        width: 130px;
    }

    .app-btn {
        margin-top: 15px;
        margin-right: 30px;
    }

    .app-btn:last-child {
        margin-right: 0;
    }

    .works-step div {
        font-size: 130%;
        height: 35px;
        width: 35px;
        padding: 3px;
        margin-right: 20px;
    }

    /*---------------------------------*/
    /* CITIES */
    /*---------------------------------*/

    .city-box,
    .city-box:first-child {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
        font-size: 130%;
        text-align: left;
        border: 1px solid rgb(235, 235, 235);
        padding: 20px;
    }

    .city-box:first-child:hover {
        border-bottom: 2px solid #e67e22;
    }

    /*---------------------------------*/
    /* TESTIMONIALS */
    /*---------------------------------*/

    .section-testimonials {
        text-align: left;
        font-size: 120%;
    }

    .section-testimonials .row div {
        margin-bottom: 40px;
    }

    cite {
        text-align: right;
    }

    /*---------------------------------*/
    /* SIGN UP PLANS */
    /*---------------------------------*/

    .plan-box {
        width: 85%;
        margin: 0 auto;
        font-size: 110%;
        margin-bottom: 20px;
    }

    .signup-btn {
        width: 90%;
    }

    .plan-box div ul {
        text-align: left;
    }

    /*---------------------------------*/
    /* CONTACT FORM */
    /*---------------------------------*/

    .section-form .span-1-of-3 {
        width: 30%;
    }

    .section-form .span-2-of-3 {
        width: 69%;
    }

    .section-form .row .row {
        margin-bottom: 20px;
    }

    /*---------------------------------*/
    /* FOOTER */
    /*---------------------------------*/

    .footer-nav,
    .social-links {
        float: none;
        display: inline-block;
        margin-bottom: 20px;
    }

    .footer-nav li {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}


/* Small mobile phones */
@media only screen and (max-width: 480px) {

    html,
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 130%;
    }

    h3 {
        font-size: 110%;
    }

    .app-btn {
        margin-right: 10px;
    }

    .app-btn img {
        width: 120px;
    }
}