/*---------------------------------*/
/* GENERAL */
/*---------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(75, 74, 74);
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 240%;
    margin: 0;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3 {
    font-size: 115%;
    word-spacing: 2px;
    margin-bottom: 15px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 300px;
    margin: 30px auto;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    color: rgb(236, 234, 234);
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.btn,
.btn:visited {
    display: inline-block;
    padding: 10px 40px;
    font-weight: 300;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-orange,
.btn-orange:visited {
    background-color: #e67e22;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #e67e22;
}

.btn-outline-orange,
.btn-outline-orange:visited {
    border: 1px solid #e67e22;
    border-radius: 20px;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #bf6516;
}

.btn-orange:hover,
.btn-orange:active {
    border: 1px solid #bf6516;
}

.btn-outline-orange:hover,
.btn-outline-orange:active {
    border: 1px solid #bf6516;
    color: #fff;
}

/*---------------------------------*/
/* PARAGRAPHS */
/*---------------------------------*/

.long-copy {
    line-height: 145%;
    padding: 0 15%;
    text-align: center;
    margin-bottom: 40px;
}

/*---------------------------------*/
/* ICONS */
/*---------------------------------*/

.icon-big {
    font-size: 250%;
    color: #e67e22;
    width: fit-content;
    margin-bottom: 15px;
    opacity: 0.75;
    transition: opacity 0.2s;
}

.icon-big:hover {
    opacity: 1.0;
}

.icon-small {
    color: #bf6516;
    font-size: 90%;
    margin-right: 10px;
    line-height: 110%;
    vertical-align: middle;
}

/*---------------------------------*/
/* HEADER */
/*---------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    margin-bottom: 20px;
}

.logo {
    height: 90px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.btn-orange i {
    color: aliceblue;
    margin: 0;
    margin-right: 10px;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 55px;
}

.main-nav li a,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 3px;
    font-size: 85%;
    border: 2px solid transparent;
    transition: border 0.2s, padding-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #bf6516;
    padding-bottom: 10px;
}

/*---------------------------------*/
/* MEALS */
/*---------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.25s, opacity 0.25s;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/*---------------------------------*/
/* HOW IT WORKS */
/*---------------------------------*/

.section-steps {
    background-color: rgb(241, 241, 241);
}

.steps-col:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-col:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 45%;
    transition: transform 0.2s;
}

.app-screen:hover {
    transform: rotate(5deg);
}

.works-step {
    margin-bottom: 40px;
}

.works-step div {
    display: inline-block;
    float: left;
    color: #e67e22;
    font-size: 150%;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    padding: 5px;
    text-align: center;
    margin-right: 25px;
}

.app-btn {
    display: inline-block;
    margin-top: 80px;
}

.app-btn img {
    width: 150px;
    margin-right: 20px;
    transition: opacity 0.2s;
}

.app-btn img:hover {
    opacity: 0.7;
}

/*---------------------------------*/
/* CITIES */
/*---------------------------------*/

.city-box {
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.city-box:hover {
    border-bottom: 2px solid #e67e22;
}

.city-box img {
    width: 100%;
    margin-bottom: 20px;
}

.city-feature {
    margin-top: 10px;
}

.twitter-link,
.twitter-link:visited {
    color: #e67e22;
    text-decoration: none;
    transition: color 0.1s , border-bottom 0.1s;
    font-weight: 300;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 3px;
}

.twitter-link:hover,
.twitter-link:active {
    color: #bf6516;
    border-bottom: 1px solid #bf6516;
}

/*---------------------------------*/
/* TESTIMONIALS */
/*---------------------------------*/

.section-testimonials {
    background-image:linear-gradient(rgba(0,0,0, 0.8), rgb(0,0,0, 0.8)) , url(images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.section-testimonials .row .col i {
    font-size: 120%;
    color: rgb(216, 214, 214);
}

cite img {
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

/*---------------------------------*/
/* SIGN UP PLANS */
/*---------------------------------*/

.section-plans {
    background-color: rgb(241, 241, 241);
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.plan-price {
    font-size: 260%;
    font-weight: 300;
    margin-bottom: 10px;
    color: #e67e22;
}

.per-month, .per-meal {
    font-size: 40%; 
}

.plan-price-meal {
    font-style: 80%; 
}

.plan-box ul {  
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div {
    box-shadow: 0 2px 2px rgb(245, 245, 245);
}

.plan-box div:first-child {
    background-color: rgb(250, 250, 250);
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: none;
    padding: 0;
    box-shadow: none;
}

