/*---------------------------------*/
/* GENERAL */
/*---------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    background-color: #212121;
    color: #DCEDC8;
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 240%;
    margin: 0;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3 {
    font-size: 115%;
    word-spacing: 2px;
    margin-bottom: 15px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #79d400;
    content: " ";
    width: 300px;
    margin: 30px auto;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    color: rgb(236, 234, 234);
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.btn,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 40px;
    font-weight: 300;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-green,
.btn-green:visited,
input[type=submit] {
    background-color: #6fc300;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #6fc300;
}

.btn-outline-green,
.btn-outline-green:visited {
    border: 1px solid #6fc300;
    border-radius: 20px;
    color: #6fc300;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #5ca100;
}

.btn-green:hover,
.btn-green:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #5ca100;
}

.btn-outline-green:hover,
.btn-outline-green:active {
    border: 1px solid #5ca100;
    color: #fff;
}

/*---------------------------------*/
/* PARAGRAPHS */
/*---------------------------------*/

.long-copy {
    line-height: 145%;
    padding: 0 15%;
    text-align: center;
    margin-bottom: 40px;
}

/*---------------------------------*/
/* ICONS */
/*---------------------------------*/

.icon-big {
    font-size: 250%;
    color: #79d400;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 15px;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.icon-big:hover {
    opacity: 1.0;
}

.icon-small {
    color: #AFB42B;
    font-size: 90%;
    margin-right: 10px;
    line-height: 110%;
    vertical-align: middle;
}

/*---------------------------------*/
/* HEADER */
/*---------------------------------*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
        url(images/dish.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(images/dish.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    margin-bottom: 20px;
}

.logo,
.logo-small {
    height: 90px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-small {
    display: none;
}

.btn-green i {
    color: aliceblue;
    margin: 0;
    margin-right: 10px;
}

/*Normal nav*/
.main-nav {
    display: block;
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 55px;
}

.main-nav li a,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 3px;
    font-size: 85%;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s, padding-bottom 0.2s;
    transition: border-bottom 0.2s, padding-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #79d400;
}

/*Mobile Nav*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: rgb(236, 236, 236);
}

/*Sticky Nav*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 2px #292929;
            box-shadow: 0px 2px 2px #292929;
    -webkit-transition: all 0.5s ease;
    transition: all 0.3s ease;
}

.sticky .row .main-nav li a,
.sticky .row .main-nav li a:visited {
    color: rgb(224, 224, 224);
    padding-bottom: 17px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s, padding-bottom 0.2s;
    transition: border-bottom 0.2s, padding-bottom 0.2s;
}

.sticky .row .main-nav li a:hover,
.sticky .row .main-nav li a:active {
    border-bottom: 2px solid #92ff00;
}

.sticky .logo-small {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

.sticky .logo {
    display: none;
}

.sticky .main-nav li {
    margin-top: 20px;
}

.sticky .mobile-nav-icon {
    margin-top: 10px;
    margin-right: 10px;
}

.sticky .mobile-nav-icon i {
    color: rgb(49, 49, 49);
}

/* section with same style */
.section-steps, .section-plans{
  color: #ceecc3;
  background-color: #252525 !important;
}
/*---------------------------------*/
/* MEALS */
/*---------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    opacity: 0.7;
    -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
    transition: opacity 0.25s, -webkit-transform 0.25s;
    transition: transform 0.25s, opacity 0.25s;
    transition: transform 0.25s, opacity 0.25s, -webkit-transform 0.25s;
}

.meal-photo img:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 1;
}

/*---------------------------------*/
/* HOW IT WORKS */
/*---------------------------------*/

.section-steps {
    background-color: #f1f1f1;
}

.steps-col:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-col:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 45%;
}

.works-step {
    margin-bottom: 40px;
}

.works-step div {
    display: inline-block;
    float: left;
    color: #DCEDC8;
    font-size: 150%;
    border: 2px solid #6fc300;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    padding: 5px;
    text-align: center;
    margin-right: 25px;
}

.app-btn {
    display: inline-block;
    margin-top: 80px;
}

.app-btn img {
    width: 150px;
    margin-right: 20px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.app-btn img:last-child {
    margin-right: 0;
}

.app-btn img:hover {
    opacity: 0.7;
}

/*---------------------------------*/
/* CITIES */
/*---------------------------------*/

.city-box {
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.4s;
    transition: border-bottom 0.4s;
}

.city-box img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.city-feature {
    margin-top: 10px;
}

.twitter-link,
.twitter-link:visited {
    color: #79d400;
    text-decoration: none;
    -webkit-transition: color 0.1s , border-bottom 0.1s;
    transition: color 0.1s , border-bottom 0.1s;
    font-weight: 300;
    border-bottom: 1px solid #79d400;
    padding-bottom: 3px;
}

.twitter-link:hover,
.twitter-link:active {
    color: #66b200;
    border-bottom: 1px solid #66b200;
}

/*---------------------------------*/
/* TESTIMONIALS */
/*---------------------------------*/

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))),
    url(images/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/back-customers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.section-testimonials .row .col i {
    font-size: 120%;
    color: rgb(216, 214, 214);
}

cite {
    font-style: normal;
}

cite img {
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

/*---------------------------------*/
/* SIGN UP PLANS */
/*---------------------------------*/

.plan-box {
    background-color: #313131;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #424242;
}

.plan-price {
    font-size: 260%;
    font-weight: 300;
    margin-bottom: 10px;
    color: #79d400;
}

.per-month, .per-meal {
    font-size: 40%;
}

.plan-price-meal {
    font-style: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div {
    -webkit-box-shadow: 0 2px 2px #353535;
            box-shadow: 0 2px 2px #353535;
}

.plan-box div:first-child {
    background-color: #313131;
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: none;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/*---------------------------------*/
/* CONTACT FORM */
/*---------------------------------*/

.contact-form {
    width: 60%;
    margin:0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px 7px;
    border-radius: 3px;
    border: 1px solid rgb(214, 214, 214);
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: 1px solid #79d400;
}

textarea {
    height: 120px;
}

input[type=checkbox] {
    margin: 10px 10px 10px 0;
}

*:focus {
    outline: none;
}

/*---------------------------------*/
/* FOOTER */
/*---------------------------------*/

footer {
    background-color: #333;
    color: rgb(233, 233, 233);
    padding: 40px 0;
}

.footer-nav {
    list-style-type: none;
    float: left;
}

.social-links {
    list-style-type: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a,
.footer-nav li a:visited,
.social-links li a,
.social-links li a:visited {
    color: rgb(189, 189, 189);
    text-decoration: none;
    font-size: 90%;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links li a,
.social-links li a:visited {
    font-size: 110%;
}

.fa-facebook-square,
.fa-twitter,
.fa-google-plus,
.fa-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-google-plus:hover {
    color: #dc4e41;
}

.fa-instagram:hover {
    color: #E1306C;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}

footer p {
    text-align: center;
    color: #888;
    margin-top: 50px;
    font-size: 90%;
}

.abraham {
    font-size: 80%;
}

.footer-link,
.footer-link:visited {
    transition: color 0.2s;
}

.footer-link:hover,
.footer-link:active {
    color: #fff;
}

/*---------------------------------*/
/* Animations */
/*---------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4 {
    opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated {
    opacity: 1;
}

.fadeOutUp,
.fadeInDown {
    animation-duration: 0.3s;
}

footer a{
  color: rgb(189, 189, 189);
  text-decoration: none;
}
